header {
    font-family: 'Lato', sans-serif;
    }

h1 {
font-family: 'Dancing Script', cursive !important;
font-size: 3.5rem;
}

body {
font-family: 'Lato', sans-serif;
}

.btn {
    font-family: "Lato", sans-serif;
    }

.nav {
    font-family: "Lato", sans-serif;
    }

.fa-star {
    color: #FDCC0D !important;
}

.toast {
    left: 50%;
    position: fixed;
    transform: translate(-50%, 0px);
    z-index: 9999;
}