<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>All Bookings - Dream Vacations</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vacations.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet">
    <script src="/bookings.js"></script>
</head>
<body>
<div class="container">

    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/welcome/">Dream Vacations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vacations/">All Locations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bookings/">All Bookings</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid"><br>
        <div class="d-flex justify-content-between mt-2">
            <div style="width:30%">
                <input class="form-control" id="search" placeholder="Search..." type="text">
            </div>
        </div>
        <table class="table table-hover mt-3">
            <thead>
            <tr>
                <th>Tourist Name</th>
                <th>Hotel</th>
                <th>Location</th>
                <th>Check In</th>
                <th>Duration</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="bookingTable">
            <tr data-th-each="booking : ${bookings}">
                <td data-th-text="${booking.touristName}"></td>
                <td data-th-text="${booking.vacation.name}"></td>
                <td data-th-text="${booking.vacation.location}"></td>
                <td data-th-text="${booking.startDate}"></td>
                <td data-th-text="${booking.vacation.duration} + ' days'"></td>
                <td>
                    <div data-th-id="${booking.bookingId}" style="cursor: pointer">
                        <i class="fas fa-trash-alt ml-2"></i>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>