<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Welcome to Dream Vacations!</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vacations.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet">
    <script src="/details.js"></script>
    <style>
    .addScroll{
    overflow-y:auto;
    height: 190px;
}


    </style>
</head>
<body>
<div class="container">

    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/welcome/">Dream Vacations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vacations/">All Locations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bookings/">My Bookings</a>
            </li>
        </ul>
    </nav>

    <div class="container" data-th-if="${showDetails}"><br>
        <h3 class="mb-3" data-th-text="${selectedVacation.name}"></h3>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <p>Location: <span data-th-text="${selectedVacation.location}"></span></p>
                        <p>Stars: <span data-th-text="${selectedVacation.stars}"></span></p>
                        <p>Rating: <span data-th-text="${selectedVacation.rating}"></span></p>
                        <p>Duration: <span data-th-text="${selectedVacation.duration}"></span></p>
                        <p>Price: <span data-th-text="${selectedVacation.price}"></span></p>
                        <p>Description:<br></p>
                        <div class="addScroll">
                            <span data-th-text="${selectedVacation.description}"
                                  style="height: 200px; overflow-y: scroll;"></span>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="carousel slide" data-ride="carousel" id="vacationSlider">
                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li class="active" data-slide-to="0" data-target="#vacationSlider"></li>
                                <li data-slide-to="1" data-target="#vacationSlider"></li>
                                <li data-slide-to="2" data-target="#vacationSlider"></li>
                            </ul>
                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item"
                                     data-th-classappend="${iter.index==0} ? active : inactive"
                                     data-th-each="imageUrl, iter : ${selectedVacation.imageUrl}">
                                    <img class="img-fluid"
                                         data-th-src="${imageUrl.url}">
                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" data-slide="prev" href="#vacationSlider">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" data-slide="next" href="#vacationSlider">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-footer clearfix">
                    <button class="btn btn-info float-left" data-target="#bookVacationModal" data-toggle="modal"
                            id="bookVacation">Book This Vacation
                    </button>
                    <a href="/vacations/">
                        <button class="btn btn-danger float-right">Close</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="bookVacationModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Booking Details</h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="modal-tourist-name">Customer Name</label>
                        <input class="form-control" id="modal-tourist-name" type="text"/>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="form-group flex-fill mr-3">
                            <label for="modal-vacation-name">Hotel</label>
                            <input class="form-control" id="modal-vacation-name" type="text"/>
                        </div>
                        <div class="form-group flex-fill ml-3">
                            <label for="modal-vacation-stars">Stars</label>
                            <input class="form-control" id="modal-vacation-stars" max="5" min="1" type="number"/>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="form-group flex-fill mr-3">
                            <label for="modal-vacation-location">Location</label>
                            <input class="form-control" id="modal-vacation-location" type="text"/>
                        </div>
                        <div class="form-group flex-fill ml-3">
                            <label for="modal-vacation-rating">Rating</label>
                            <input class="form-control" id="modal-vacation-rating" max="10" min="1" type="number">
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <div class="form-group flex-fill mr-3">
                            <label for="modal-vacation-price">Price</label>
                            <input class="form-control" id="modal-vacation-price" max="100000" min="1" type="number"/>
                        </div>
                        <div class="form-group flex-fill ml-3">
                            <label for="modal-vacation-duration">Duration</label>
                            <input class="form-control" id="modal-vacation-duration" max="8" min="1" type="number"/>
                        </div>
                    </div>

                </div>
                <div class="modal-footer" style="cursor: pointer">
                    <button class="btn btn-danger" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" id="bookButton" type="button">Book Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>