<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Welcome to Dream Vacations!</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vacations.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet">
    <script src="/vacations.js"></script>
</head>
<body>
<div class="container">

    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/welcome/">Dream Vacations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vacations/">All Locations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bookings/">My Bookings</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid"><br>
        <div class="d-flex justify-content-between mt-2">
            <div style="width:30%">
                <input class="form-control" id="search" placeholder="Search..." type="text">
            </div>
            <button class="btn btn-dark" data-target="#addVacationModal" data-toggle="modal" id="addButton">
                Add
            </button>
        </div>
        <table class="table table-hover mt-3">
            <thead>
            <tr>
                <th>Hotel</th>
                <th>Stars</th>
                <th>Location</th>
                <th>Rating</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="vacationTable">
            <tr data-th-each="vacation : ${vacations}">
                <td>
                    <a class="nav-link text-dark" data-th-href="'/vacations/' + ${vacation.vacationId}"
                       data-th-text="${vacation.name}"></a>
                </td>
                <td data-th-text="${vacation.stars}"></td>
                <td data-th-text="${vacation.location}"></td>
                <td data-th-text="${vacation.rating}"></td>
                <td>
                    <div data-th-id="${vacation.vacationId}" style="cursor: pointer">
                        <i class="fas fa-edit mr-2" data-target="#addVacationModal" data-toggle="modal"></i>
                        <i class="fas fa-trash-alt ml-2"></i>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="addVacationModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Vacation</h4>
                <button class="close" data-dismiss="modal" type="button">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="modal-vacation-name">Name</label>
                    <input class="form-control" id="modal-vacation-name" type="text"/>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="form-group flex-fill mr-3">
                        <label for="modal-vacation-stars">Stars</label>
                        <input class="form-control" id="modal-vacation-stars" max="5" min="1" type="number"/>
                    </div>
                    <div class="form-group flex-fill mr-3 ml-3">
                        <label for="modal-vacation-location">Location</label>
                        <input class="form-control" id="modal-vacation-location" type="text"/>
                    </div>
                    <div class="form-group flex-fill ml-3">
                        <label for="modal-vacation-rating">Rating</label>
                        <input class="form-control" id="modal-vacation-rating" max="10" min="1" type="number">
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <div class="form-group flex-fill mr-3">
                        <label for="modal-vacation-price">Price</label>
                        <input class="form-control" id="modal-vacation-price" max="100000" min="1" type="number"/>
                    </div>
                    <div class="form-group flex-fill mr-3 ml-3">
                        <label for="modal-vacation-duration">Duration</label>
                        <input class="form-control" id="modal-vacation-duration" max="8" min="1" type="number"/>
                    </div>

                    <!--     ENUM                -->
                    <div class="form-group flex-fill ml-3">
                        <label for="modal-vacation-category">Category</label>
                        <select class="form-control" id="modal-vacation-category" name="category">
                            <option data-th-each="category : ${categories}" data-th-text="${category}"
                                    data-th-value="${category}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="modal-vacation-description">Description</label>
                    <textarea class="form-control" id="modal-vacation-description" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="modal-vacation-url1">Image URL 1</label>
                    <input class="form-control" id="modal-vacation-url1" type="text"/>
                </div>
                <div class="form-group">
                    <label for="modal-vacation-url2">Image URL 2</label>
                    <input class="form-control" id="modal-vacation-url2" type="text"/>
                </div>
                <div class="form-group">
                    <label for="modal-vacation-url3">Image URL 3</label>
                    <input class="form-control" id="modal-vacation-url3" type="text"/>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" id="modal-save-button" type="button">Save</button>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <div class="container">
        <div class="d-flex justify-content-end">
            <a href="/welcome/">
                <button class="btn btn-info" type="button">
                    Back to homepage
                </button>
            </a>
        </div>
    </div>
    <br>
</footer>
</html>